<% if object[:routes] %>
  <% routes = object[:routes].uniq %>
<div class="tags">
  <p class="tag_title">Routes</p>
  <ul class="routes">
    <% routes.each do |r| %>
		<li>[<%= r[:verb] %>] <%= r[:path].gsub(/(:|\*)\w+/) { |m| "<span style='font-family: monospace; color: green'>#{m}</span>"} %>
			 <%= (r[:name] && !r[:name].empty? ? "<span style='font-size: 85%'>(Helper name: #{r[:name]})</span>" : '') %>
		</li>
    <% end %>
  </ul>
</div>
<% end %>
